@charset "utf-8";

/* 共通のスタイル */
.w720 {
	@media only screen and (min-width: 769px) {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1040 {
	@media only screen and (min-width: 1041px) {
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1080 {
	@media only screen and (min-width: 1081px) {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1280 {
	@media only screen and (min-width: 1281px) {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
}

#searchform label.screen-reader-text,
#searchform input[type="submit"]#searchsubmit {
	display: none;
}

.page-wrapper {
	max-width: 100%;
	overflow: visible;
}

.page-wrapper.with-sidebar {
	@include display-flex;
	@include justify-content-center;
	@extend .w1080;
	@media only screen and (max-width: 768px) {
		@include flex-direction-column;
	}

	> .main {
		@include flex(1 1 auto);
	}

	> .sidebar {
		@include flex(0 0 360px);
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 160px;
		margin-bottom: 120px;

		@media only screen and (max-width: 768px) {
			width: 100vw;
			@include flex(none);
			padding-left: 6.4vw;
			padding-right: 6.4vw;
			padding-top: 21.33vw;
		}

		dl {
			background: $color-white;
			font: 14px / 22px "YuGothic", "Yu Gothic Medium";
			color: #111111;
			padding: 40px 20px 20px;
			border-radius: 10px;
			@media only screen and (max-width: 768px) {
				padding-left: unset;
				padding-right: unset;
				padding-bottom: unset;
			}

			dt {
				margin-bottom: 40px;
				h4 {
                	text-align: center;
                	font-size: 24px;
                	font-weight: bold;
                	font-family: "Montserrat";

                	small {
                		font-size: 14px;
                        line-height: 1.5;
                        display: block;
                        margin-top: 0.7em;
                        font-family: "YuGothic", "Yu Gothic Medium";
                	}

                	@media only screen and (max-width: 768px) {
                		font-size: 8.53vw;

                		small {
                			font-size: 3.73vw;
                		}
                	}
                }
			}

			dd {
                /* padding: 0 20px 26px; */

                ul {
                	list-style: none;
					margin-left: -20px;
					margin-right: -20px;
					@media (max-width: 768px) {
						margin-left: -6.4vw;
						margin-right: -6.4vw;
					}
					font-size: 0;

					.item {
						display: inline-block;
						height: 480px;
						margin-bottom: 40px;
						@media (max-width: 768px) {
							height: 120vw;
							margin-bottom: 6.4vw;
						}
						position: relative;
						vertical-align: top;

						@media (max-width: 768px) {
							width: 100%;
							margin-bottom: 6.4vw;
						}

						dl {
							margin-left: 20px;
							margin-right: 20px;
							@media (max-width: 768px) {
								margin-left: 6.4vw;
								margin-right: 6.4vw;
							}
							background: $color-white;
							height: 100%;
							border-radius: 10px;

							dt {
								> a:hover {
									opacity: 0.6;

									img {
										@include transition-all;
										opacity: 0.7;
									}
								}
								@media (max-width: 768px) {
									img {
										width: 100%;
									}
								}

								p {
									font-size: 16px;
									line-height: 1.5;
									margin-bottom: 1em;
									padding: 40px 20px 0;
									font-weight: 700;

									@media (max-width: 768px) {
										font-size: 4.2vw;
										padding: 5vw 5vw 0;
									}
								}

								div {
									margin-left: -5px;
									margin-right: -5px;
									line-height: 40px;
									padding: 0 20px;
									@media (max-width: 768px) {
										line-height: 12vw;
										padding: 0 5vw;
									}
								}
							}

							.datetime {
								position: absolute;
								left: 40px;
								bottom: 20px;
								@media (max-width: 768px) {
									left: 11.4vw;
									bottom: 5vw;
								}
								span {
									font: 14px/1.3 "Montserrat";
									font-weight: 600;
									color: #555555;

									@media (max-width: 768px) {
										font-size: 3.73vw;
									}
								}
							}

							&:hover {
								box-shadow: 0 5px 10px rgba(0,0,0,0.16);
							}
						}

						&.item--document {
							height: 370px;
							@media only screen and (max-width: 768px) {
								height: 96vw;
							}

							dl dt p {
								padding-left: 60px;
								background: left 20px top 40px url(../img/document-pdf.png) no-repeat;
								background-size: 20px;
								@media only screen and (max-width: 768px) {
									padding-left: 14vw;
									background: left 5vw top 5vw url(../img/document-pdf.png) no-repeat;
									background-size: 5vw;
								}
							}
						}
					}
                }

                article {
                	display: flex;
                	padding-bottom: 15px;
                	padding-top: 15px;
                	border-bottom: 1px solid #BBBBBB;
                	@include transition-all;
                	&:first-of-type {
                    	padding-top: unset;
                    }
                    &:last-of-type {
                    	border-bottom: unset;
                    	padding-bottom: unset;
                    }

                	.thumb {
                        width: 80px;
                        height: 80px;
                        margin-right: 20px;
                        border-radius: 5px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 180%;
                        @include transition-all;
                	}

                	summary {
                        width: 180px;
                        font-weight: 500;
                        display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
                	}

                	&:hover {
                		.thumb {
                			opacity: 0.7;
                		}
                		summary a {
                			opacity: 0.6;
                		}
                	}
                }

				.big {
					font-size: 16px;
					line-height: 1.8;
				}

                .btn-panel {
                	text-align: center;
                	margin-top: 60px;
                	margin-bottom: 15px;
					.btn {
						width: 220px;
						margin-left: auto;
						margin-right: auto;
						font-size: 16px;
						color: inherit;
						background: transparent;
						border-color: inherit;

						&:hover {
							color: $color-white;
							background: $color-red;
							border-color: $color-red;
						}
					}
                }
			}

			&.dark-back {
				color: $color-white;
				background: #333333;

				h4 span {
					font-size: 20px;
					padding-left: 48px;
					position: relative;

					background: left center url(../img/envelope.png) no-repeat;
					background-size: contain;
				}

				.btn-panel .btn:hover {
					color: #111111;
					background: $color-white;
					border-color: $color-white;
				}
			}

			+ dl {
				margin-top: 40px;
			}
		}

		@media only screen and (max-width: 768px) {
			display: none;

            &.sidebar--document {
            	display: block;
            }
		}

		&.sidebar--document dl {
			background: transparent;
			padding-top: unset;
		}
	}
}

.background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dark-back {
	background: #333333;
}

.btn {
	display: inline-block;
	width: 200px;
	max-width: 100%;
	line-height: 3.5;
	background-color: transparent;
	color: #111111;
	position: relative;
	text-align: center;
	@include transition-all;
	cursor: pointer;
	border-radius: 1.75em;
	border: 1px solid #111111;

	&:hover {
		background: $color-red;
		border: 1px solid $color-red;
		color: $color-white;
	}
}

.category.category--how-to {
	color: #25F4EE;
}

.category.category--case-study {
	color: #FE2C55;
}

.category.category--interview {
	color: #7D88E3;
}

.category.category--topics {
	color: #007CD8;
}

.slick-list {
// 	overflow-x: visible;
// 	overflow-y: visible;
}

.slick-prev, .slick-next {
	left: -20px;
	@media only screen and (min-width: 769px) and (max-width: 1080px) {
		left: 0px;
	}
	z-index: 2;
	font-weight: bold;
	background-image: url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position: center center;

	@media only screen and (max-width: 768px) {
		display: none !important;
	}
}

.slick-next {
	left: calc(31.25vw - 20px);
	background-image: url(../img/arrow-right.png);

	@media only screen and (min-width: 1281px) {
		left: 380px;
	}
	@media only screen and (min-width: 769px) and (max-width: 1080px) {
		left: 31.25vw;
	}
}

.slick-dots {
	// text-align: right;
	// padding-right: 40px;
	position: absolute;
	// right: 0px;
	bottom: 2%;
	width: 31.25vw;
	max-width: 400px;
	@media only screen and (max-width: 768px) {
		bottom: -6vw;
		width: 100%;
		max-width: unset;
	}

	li {
		button::before {
			font-size: 0.8rem;
			color: $color-white;
			width: 40px;
			height: 40px;
			opacity: 1;
			@media only screen and (max-width: 768px) {
				width: 2.66vw;
				height: 2.66vw;
			}
		}

		&.slick-active {
			button::before {
				color: #111111;
			}
		}
	}
}

.page-navigator {
	margin-top: 48px;
	@include display-flex;
	@include justify-content-center;
	list-style: none;
	@media only screen and (max-width: 768px) {
		margin-top: 8vw;
		@include justify-content-space-between;
	}

	&.button-3 {
		@include justify-content-space-between;
	}

	li {
		position: relative;
		display: block;
		width: 3em;
		font-family: "Montserrat";
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
		@media only screen and (max-width: 768px) {
			font-size: 3.73vw;
		}

		&:not(.flat):after {
			content: "";
			position: absolute;
			display: none;
			height: 3em;
			width: 3em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $color-red;
			border-radius: 1.5em;
			z-index: -1;
		}

		&:not(.flat):not(.disabled) {
			&:hover {
				color: $color-white;

				&:after {
					display: block;
				}
			}
		}

		&.disabled {
			cursor: default;
		}

		&.selected {
			color: $color-white;
			font-weight: bold;

			&:after {
				display: block;
			}
		}

		&.flat {
			width: unset;
			font-size: $font-size-xs;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.keyword-panel {
	@include display-flex;
	@include flex-wrap-wrap;
    line-height: 50px;
    @media (max-width: 768px) {
    	line-height: 11vw;
    }
}

.keyword {
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	padding-left: 1.8em;
	padding-right: 0.8em;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	border-radius: 1.7em;
	border: 1px solid #111111;
	margin: 5px 5px;
	position: relative;
	color: #111111;
	cursor: pointer;

	@media (max-width: 768px) {
		font-size: 3.2vw;
	}

	&::before {
		content: "#";
		line-height: 1;
		position: absolute;
		left: 0.8em;
		top: 50%;
		transform: translateY(-50%);
		font-weight: bold;
	}

	&:hover {
		color: $color-white;
		background-color: #111111;
	}
}

section {
	@extend .w1080;
}

.section--topmargin {
	border-top: $top-banner-height solid transparent;
	padding-top: $top-banner-first-section-margin;
	@media only screen and (max-width: 768px) {
		border-top: $top-banner-height-sp solid transparent;
		padding-top: $top-banner-first-section-margin-sp;
	}
}

section.hero {
	overflow: visible;
	@media only screen and (max-width: 768px) {
		padding-top: unset;
	}
}

.hero-item {
    height: 440px;
    @media only screen and (min-width: 769px) and (max-width: 1080px) {
    	height: 40.6vw;
    	margin-left: 20px;
    	margin-right: 20px;
    }
    @media only screen and (max-width: 768px) {
    	height: 56.26vw;
        width: 100%;
		background-size: cover;
		margin-bottom: 21.33vw;
	}

    position: relative;
	border-radius: 10px;
	overflow: visible;
    @extend .background-cover;

    .hero-figure {
    	position: absolute;
    	right: 0;
    	top: 0;
    	height: 100%;
    	overflow: hidden;

    	border-radius: 10px;
		@media only screen and (max-width: 768px) {
			border-radius: unset;
		}

    	img {
    		height: 100%;
    		transform: scale(1);
		    @include transition-all;
    	}

    	&:after {
    		content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0.3rem solid $color-red;
// 			transform: scale(1.05);
			border-color: transparent;
// 			transition: transform .4s cubic-bezier(.4,.1,.3,1);
            @include transition-all;
			border-radius: 0.6rem;
			box-sizing: border-box;
    	}

    	&:hover{
//     		img {
//     			transform: scale(1.05);
//     		}
//     		&:after {
//     		    transform: scale(1);
//     		}
    	}
    }

    .hero-title-background, .hero-title {
    	position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 31.25vw;
		max-width: 400px;
		height: 23.4375vw;
		max-height: 300px;
		padding: calc(30px - 0.3rem);
		background: $color-red;
		overflow: hidden;
		border-radius: 0.6rem;

		@media only screen and (max-width: 768px) {
			left: 50%;
			transform: translateX(-50%);
			top: unset;
			bottom: -20vw;
			padding: calc(5.33vw - 0.3rem);
			width: 88vw;
			max-width: unset;
			height: 45vw;
			max-height: unset;
		}
    }

    .hero-title-background {
    	z-index: -3;
    }

	.hero-title {
		color: $color-gray1;
		background: $color-white;
		border: 0.3rem solid $color-white;
		padding: calc(30px - 0.3rem);
		-webkit-background-clip: padding-box;
        background-clip: padding-box;
        @include transition-all;
	
		summary {
			font-family: "YuGothic", "Yu Gothic Medium";
			font-size: 20px;
			font-weight: normal;
			line-height: 1.5;
			margin-top: 1em;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxxl-sp;
				line-height: 1.5;
				margin-top: 0.7em;
			}

            a {
            	font-weight: bold;
            }
		}

		mark {
			font-family: "Montserrat";
			font-size: 14px;
			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
			}
			font-weight: bold;
			background: unset;
		}

		time {
			font: 14px/1.3 "Montserrat";
			position: absolute;
			left: 30px;
			bottom: 30px;
			color: #555555;
			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
				left: 5.33vw;
			    bottom: 5.33vw;
			}
		}
	}

	&:hover {
		.hero-figure {
			img {
				transform: scale(1.05);
			}
			&:after {
// 				transform: scale(1);
                border-color: $color-red;
			}
		}

		.hero-title {
			border-width: 0.3rem;
			padding: calc(30px - 0.3rem);
			border-color: transparent;
		}
	}
}

section {
	margin-bottom: 160px;
	@media only screen and (max-width: 768px) {
		margin-bottom: 21.33vw;
	}
}

.section {
	padding-left: 20px;
	padding-right: 20px;
    @media (max-width: 768px) {
    	padding-left: 6.4vw;
	    padding-right: 6.4vw;
    }

	.content-wrapper {
		.header {
			margin-bottom: 60px;
			@media only screen and (max-width: 768px) {
				margin-bottom: 8vw;
			}

			h3 {
				font: bold 80px/1.2 "Montserrat";
				span {
                    display: block;
                    font: bold 24px/1.3 "YuGothic", "Yu Gothic Medium";
				}

				@media (max-width: 768px) {
					font-size: 10vw;
					span {
						font-size: 3.73vw;
						margin-top: 1em;
					}
				}
			}
		}

		.body {
			.decription {
				p {
					text-align: left;
					font: 16px/1.8 "YuGothic", "Yu Gothic Medium";
					font-weight: 500;
	
					@media only screen and (max-width: 768px) {
						font-size: 4.2vw;
					}
	
					&:last-of-type {
						margin-bottom: 75px;
						@media only screen and (max-width: 768px) {
							margin-bottom: 21.33vw;
						}
					}
	
					&.separator {
						overflow: hidden;
					}
				}
			}
            .explanation {
            	text-align: left;
            	font: 16px/1.8 "YuGothic", "Yu Gothic Medium";
            	font-weight: 500;

            	@media only screen and (max-width: 768px) {
            		font-size: 4.2vw;
            	}

            	&:last-of-type {
            		margin-bottom: 75px;
            		@media only screen and (max-width: 768px) {
						margin-bottom: 21.33vw;
					}
            	}

            	&.separator {
            		overflow: hidden;
            	}
            }

			ul {
				list-style: none;
				margin-left: -20px;
				margin-right: -20px;
				@media (max-width: 768px) {
					margin-left: -6.4vw;
				    margin-right: -6.4vw;
				}
				font-size: 0;

                .item {
                	width: 33.33%;
                	display: inline-block;
                	height: 480px;
                	margin-bottom: 40px;
                	@media (max-width: 768px) {
						height: 120vw;
						margin-bottom: 6.4vw;
					}
					position: relative;
                	vertical-align: top;

                	@media (max-width: 768px) {
                		width: 100%;
                		margin-bottom: 6.4vw;
                	}

                	dl {
                		margin-left: 20px;
                		margin-right: 20px;
                		@media (max-width: 768px) {
                			margin-left: 6.4vw;
                		    margin-right: 6.4vw;
                		}
                		background: $color-white;
                		height: 100%;
                		border-radius: 10px;
                		position: relative;

                        > a {
                        	content: "";
                			position: absolute;
                			display: block;
                			left: 0;
                			top: 0;
                			right: 0;
                			bottom: 0;
                			background: white;
                			opacity: 0;
                			@include transition-all;
                        }

                		> a:hover {
                			opacity: 0.3;
                		}

                		dt {
                			> a:hover {
                				opacity: 0.6;

                				img {
                					@include transition-all;
                					opacity: 0.7;
                				}
                			}
                			@media (max-width: 768px) {
                				img {
								    width: 100%;
                				}
							}

                			p {
                                font-size: 16px;
                                line-height: 1.5;
                                margin-bottom: 1em;
                                padding: 40px 20px 0;
                                font-weight: 700;

                                @media (max-width: 768px) {
                                	font-size: 4.2vw;
                                	padding: 5vw 5vw 0;
                                }
                			}

                			div {
                				margin-left: -5px;
                				margin-right: -5px;
                				line-height: 40px;
                				padding: 0 20px;
                				@media (max-width: 768px) {
									line-height: 12vw;
									padding: 0 5vw;
								}
                			}
                		}

                		.datetime {
                			position: absolute;
                			left: 40px;
                			bottom: 20px;
                			@media (max-width: 768px) {
								left: 11.4vw;
								bottom: 5vw;
							}
                			span {
                                font: 14px/1.3 "Montserrat";
                                font-weight: 600;
                                color: #555555;

                                @media (max-width: 768px) {
									font-size: 3.73vw;
								}
                			}
                		}

                		&:hover {
                			box-shadow: 0 0 16px rgb(49 49 49 / 30%);
                		}
                	}

                	&.item--document {
						height: 370px;
						@media only screen and (max-width: 768px) {
							height: 96vw;
						}

						dl dt p {
							padding-left: 60px;
							background: left 20px top 40px url(../img/document-pdf.png) no-repeat;
							background-size: 20px;
							@media only screen and (max-width: 768px) {
								padding-left: 14vw;
								background: left 5vw top 5vw url(../img/document-pdf.png) no-repeat;
								background-size: 5vw;
							}
						}
					}
                }
			}

			> p {
				font: bold 16px / 1.2 "Montserrat";
				text-align: right;
				@media only screen and (max-width: 768px) {
					margin-top: 4vw;
				}

				a:not(.btn) {
					i {
						margin-left: 1em;
						position: relative;
						left: 0;
						color: #111111;
						@include transition-all;
					}

					&:hover {
                        color: $color-red;

                        i {
                        	color: $color-red;
                        	left: 1em;
                        }
					}
				}

				@media (max-width: 768px) {
					font-size: 4.2vw;
				}
			}
		}
	}

	&.section--category-how-to {
		h3 {
			color: #25F4EE;
		}
	}

	&.section--category-case-study {
		h3 {
			color: #FE2C55;
		}
	}

	&.section--category-interview {
		h3 {
			color: #7D88E3;
		}
	}

	&.section--category-topics {
		h3 {
			color: #007CD8;
		}
	}

	&.section--event {
		h3 {
			color: #111111;
		}

		.body {
			ul .item {
				padding-left: 20px;
				padding-right: 20px;
				width: 50%;
				position: relative;
				height: 280px;

				@media (max-width: 768px) {
					height: 56vw;
					width: 100%;
					padding-left: 6.4vw;
					padding-right: 6.4vw;
				}
			}

			.datetime {
                font: bold 24px/1.2 "Montserrat";
                color: $color-red;
                margin-bottom: 0.8em;
			}

			.text {
                font: bold 20px/1.75 "YuGothic", "Yu Gothic Medium";
                color: #111111;
			}

			.view-detail {
				text-align: right;
				font: bold 16px/1.2 "Montserrat";
				color: #111111;
				margin-top: 1.25em;
// 				position: absolute;
// 				right: 20px;
// 				bottom: 20px;

				a {
					i {
						margin-left: 1em;
						position: relative;
						left: 0;
						color: #111111;
						@include transition-all;
					}

					&:hover {
                        color: $color-red;

                        i {
                        	color: $color-red;
                        	left: 1em;
                        }
					}
				}
			}

			@media (max-width: 768px) {
				.datetime {
					font-size: 4.2vw;
				}

				.text {
					font-size: 4.2vw;
					line-height: 1.5;
				}

				.view-detail {
					font-size: 4.2vw;
				}
			}
		}
	}

	&.section--ranking {
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: calc((100% - 100vw) / 2);
			right: calc((100% - 100vw) / 2);
			top: 0;
			height: 100%;
			background: white;
			z-index: -1;
		}

		> ul {
			list-style: none;
			margin-left: -20px;
			margin-right: -20px;
			@media (max-width: 768px) {
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			font-size: 0;

			.ranking-panel, .tag-panel {
				width: 66.66%;
				display: inline-block;
				vertical-align: top;
				padding-left: 20px;
				padding-right: 20px;
				@media (max-width: 768px) {
					padding-left: 6.4vw;
					padding-right: 6.4vw;
				}

				.header {
					text-align: left;
					@media (max-width: 768px) {
						text-align: center;
					}
					h3 {
						font-size: 40px;
						line-height: 1.2;
	
						span {
							font-size: 16px;
							line-height: 1.3;
							margin-top: 1em;
						}
	
						@media (max-width: 768px) {
							font-size: 8vw;
							span {
								font-size: 3.73vw;
								margin-top: 0.1em;
							}
						}
					}
				}
			}

			.ranking-panel {
				ul {
					counter-reset: LIST-ITEMS 0;
					margin-left: unset;
					margin-right: unset;

					.item {
						width: 100%;
						height: auto;
						margin-bottom: unset;

						+ .item {
							margin-top: 60px;
						}

						a {
							position: relative;
							height: auto;
							@include display-flex;

							&:before {
								content: counter( LIST-ITEMS );
								counter-increment: LIST-ITEMS;
								position: absolute;
								font-size: 12px;
								line-height: 2;
								color: white;
								background: #111111;
								height: 2em;
								width: 2em;
								display: block;
								border-radius: 50%;
								border: 1px solid $color-white;
								text-align: center;
								transform: translate(-50%, -50%);
								z-index: 1;

								@media only screen and (max-width: 768px) {
									font-size: 2.66vw;
								}
							}

							img {
								height: 90px;
								margin-right: 20px;
								border-radius: 5px;
								display: inline-block;
								@include transition-all;
								@media (max-width: 768px) {
									height: 20vw;
								}
							}

							p {
								display: inline-block;
								.category {
									font: bold 14px / 1.3 "Montserrat";
									display: block;
									margin-bottom: 1em;
									@media (max-width: 768px) {
										font-size: 3.73vw;
										line-height: 1.2;
									}
								}


								font: bold 16px/ 1.5 "YuGothic", "Yu Gothic Medium";
								@media (max-width: 768px) {
									font-size: 3.73vw;
									line-height: 1.5;
								}
							}

							&:hover {
								img {
									opacity: 0.7;
								}

								p {
									opacity: 0.6;
								}
							}
						}
					}
				}
			}

			.tag-panel {
				width: 33.33%;

				.body {
					line-height: 40px;
					@media(max-width: 768px) {
						line-height: 11vw;
					}
				}

				.view-all {
					font: bold 16px/1.2 "Montserrat";
					text-align: right;
					margin-top: 2.5em;
					@media (max-width: 768px) {
                        font-size: 4.2vw;
					}

					a:not(.btn) {
						i {
							margin-left: 1em;
							position: relative;
							left: 0;
							color: #111111;
							@include transition-all;
						}

						&:hover {
							color: $color-red;

							i {
								color: $color-red;
								left: 1em;
							}
						}
					}
				}
			}

			@media (max-width: 768px) {
				.ranking-panel, .tag-panel {
					width: auto;
					padding-left: unset;
					padding-right: unset;
					margin-left: 6.4vw;
					margin-right: 6.4vw;
				}

				.ranking-panel {
					padding-bottom: 21.33vw;
				}

				.tag-panel {
					padding-top: 21.33vw;
					border-top: 1px solid #BBBBBB;
				}
			}
		}
	}

	&.section--document {
		.content-wrapper {
			.header {
				text-align: center;
				h3 {
				    font-size: 40px;
				    line-height: 1.2;

				    span {
				    	font-size: 16px;
				    	line-height: 1.3;
				    	margin-top: 1em;
				    }

				    @media (max-width: 768px) {
				    	font-size: 8vw;
				    	span {
				    		font-size: 3.73vw;
				    		margin-top: 0.1em;
				    	}
				    }
				}
			}

			.body {
				/* .item {
					width: 25%;
					padding: 20px;
					height: 400px;

					img {
						width: 100%;
					}

					p {
						font: bold 16px/1.5 "YuGothic", "Yu Gothic Medium";
						margin-top: 1.25em;
					}

					@media (max-width: 768px) {
				    	width: 50%;
				    	padding: 5.33vw;
				    	height: 75vw;
				    	p {
				    		font-size: 3.73vw;
				    		line-height: 1.5;
				    	}
				    }
				} */

				> p {
					text-align: center;
					margin-top: 80px;
					a {
						font: bold 16px/3.5 "YuGothic", "Yu Gothic Medium";
						@media(max-width: 768px) {
							font-size: 3.73vw;
							width: 12em;
						}
					}
				}
			}
		}
	}

	&.section--article {
		position: relative;
		.summary {
			background: $color-white;
			padding: 40px 40px 0;
			position: relative;
			.top {
				@include display-flex;
				@include justify-content-space-between;
				@include align-items-center;
				margin-bottom: 20px;

				.category {
                    font: bold 20px / 1.2 "Montserrat";
				}
				.refresh {
                    font: 14px / 1.3 "Montserrat";
                    font-weight: 700;
                    color :#555555;    

                    i {
                    	transform: rotate(30deg);
                    	margin-right: 0.6em;
                    }
				}
			}

			h1 {
				font: bold 28px / 1.5 "YuGothic", "Yu Gothic Medium";
				margin-bottom: 0.5em;
			}

			.keyword-panel {
				padding-bottom: 60px;
			}

            .thumbnail {
            	margin-left: -40px;
            	margin-right: -40px;
                @media only screen and (max-width: 768px) {
					margin-left: -6.4vw;
					margin-right: -6.4vw;
                }

				img {
					width: 100%;

					@media only screen and (max-width: 768px) {
						max-width: unset;
					}
				}
            }

			@media only screen and (max-width: 768px) {
				padding: unset;
				background: transparent;

				.top {
					margin-bottom: 5.33vw;

					.category {
						font-size: 4.2vw;
					}

					.refresh {
						font-size: 3.73vw;
					}
				}

				h1 {
					font-size: 5.33vw;
					margin-bottom: 10vw;
				}

				.keyword-panel {
					line-height: 12vw;
					padding-bottom: 10vw;
				}
			}
		}

		.the-content {
			padding: 40px;
			@media only screen and (max-width: 768px) {
				padding: 6.4vw;
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			font: 12px / 1.6 "YuGothic", "Yu Gothic Medium";
			color: #111111;
			background: $color-white;

			h2 {
				font: bold 20px / 1.5 "YuGothic", "Yu Gothic Medium";
				padding-bottom: 0.6em;
				margin-top: 2em;
				margin-bottom: 2em;
				border-bottom: 2px solid #555555;
			}

			h3 {
				font: bold 18px / 1.5 "YuGothic", "Yu Gothic Medium";
				padding: 1em;
				background: #F2F2F2;
				margin-bottom: 2em;
			}

			h4 {
				font: bold 18px / 1.7 "YuGothic", "Yu Gothic Medium";
				color: #111111;
				margin-bottom: 2em;
			}

			p {
				font-size: 16px;
				line-height: 1.8;
				margin-bottom: 40px;
			}

			ul {
				padding-left: 2em;
				li {
					font-size: 16px;
					line-height: 1.8;

					&::marker {
						color: #25F4EE;
					}
				}
			}

			ol {
				padding-left: 2em;
				li {
					font-size: 16px;
					line-height: 1.8;

					&::marker {
						color: #7D88E3;
					}
				}
			}

			blockquote {
				font-size: 14px;
				line-height: 1.8;
				padding: 40px;
				border-radius: 10px;
				position: relative;
				background: #F2F2F2;
				margin-top: 40px;
				
				&:before {
					content: "\275D";
					font-size: 100px;
					line-height: 1;
					display: block;
					position: absolute;
					left: 20px;
					top: 0;
					transform: translateY(-25%);
					color: #007CD8;
				}
			}

			img {
				width: 100%;
				margin-bottom: 50px;
			}

			table {
				th, td {
					font: 14px/1.8 Noto Sans JP;
					border: 1px solid #BBBBBB;
					padding-top: 1.2em;
					padding-bottom: 1.2em;
					text-align: center;
				}

				th {
					font-weight: bold;
					background: #F2F2F2;
				}
			}

			a {
				color: #FE2C55;
				opacity: 0.6;

				&:hover {
					color: #111111;
					text-decoration: none !important;
				}
			}

			@media only screen and (max-width: 768px) {
				h2 {
					border-width: 4px;
					font-size: 5.33vw;
				}

				h3, h4 {
					font-size: 4.8vw;
				}

				p {
					font-size: 4.2vw;
				}

				ul li, ol li {
					font-size: 4.2vw;
				}

				blockquote {
					font-size: 3.73vw;
					padding: 3em 1.5em;
					margin-top: 1em;

					&:before {
						font-size: 6em;
						line-height: 1;
						display: block;
						position: absolute;
						left: 5.33vw;
						top: 0;
						transform: translateY(-25%);
						color: #007CD8;
					}
				}

				table {
					overflow: scroll;
					th, td {
						font-size: 3.73vw;
					}
				}
			}
		}

		.share-on-sns {
			padding-bottom: 10vw;
			position: relative;
			background: $color-white;
			padding-left: 6.4vw;
			padding-right: 6.4vw;
			margin-left: -6.4vw;
			margin-right: -6.4vw;
			dt {
				font: bold 5.33vw / 1.26 "Montserrat";
				text-align: center;
				margin-bottom: 1em;
			}
			dd {
				@include display-flex;
				@include justify-content-center;

				a {
					font-size: 4.2vw;
					line-height: 2.5;
					border: 1px solid #111111;
					border-radius: 50%;
					width: 10.66vw;
					height: 10.66vw;
					display: block;
					@include display-flex;
					@include justify-content-center;
					@include align-items-center;

					& + a {
						margin-left: 5.33vw;
					}

					&:hover {
						color: $color-white;
						background: #111111;
					}
				}
			}

			@media only screen and (min-width: 769px) {
				display: none;
			}
		}
		.about-author {
			background: $color-white;
			padding: 0 40px 100px;
			@media only screen and (max-width: 768px) {
				padding: 0 6.4vw 26vw;
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			dt {
                font: bold 20px / 1.5 "YuGothic", "Yu Gothic Medium";
                margin-bottom: 1.6em;
                padding-top: 40px;
                border-top: 1px solid #BBBBBB;
                @media only screen and (max-width: 768px) {
                	padding-top: 10vw;
					font-size: 5.33vw;
					border-top-width: 2px;
				}
			}
			dd {
				@include display-flex;
				font: 14px / 1.8 "YuGothic", "Yu Gothic Medium";
				font-weight: 700;
				@media only screen and (max-width: 768px) {
					font-size: 3.73vw;
				}
				
				.avatar {
					@include flex(0 0 120px);
					width: 120px;
                    height: 120px;
                    @include display-flex;
                    @include justify-content-center;
                    @include align-items-center;
                    background: #F2F2F2;
                    border-radius: 50%;
                    margin-right: 40px;
                    overflow: hidden;
				}

				.intro {
					display: inline-block;
					b {
                        display: block;
                        font-size: 16px;
                        line-height: 1.6;
                        font-weight: bold;
					}
				}

				@media only screen and (max-width: 768px) {
					@include align-items-center;
					@include flex-wrap-wrap;

					.avatar {
						@include flex(0 0 20vw);
						width: 20vw;
						height: 20vw;
						margin-bottom: 5.33vw;
						margin-right: 5.33vw;
					}

					.intro {
						b {
                            font-size: 4.2vw;
						}
					}
				}
			}
		}

		.float-sns-btn {
			width: 40px;
			position: fixed;
			top: 160px;
			left: calc(50vw - 590px);
			z-index: 5;
            @media only screen and (max-width: 1200px) {
            	top: 160px;
            	left: 10px;

            	span {
            		opacity: 0.5;

            		&:hover {
            			opacity: 1;
            		}
            	}
            }

			span {
				width: 40px;
				text-align: center;
				font: 12px / 15px Montserrat;
				font-weight: 700;
				display: block;
				overflow: visible;

				a {
					width: 40px;
					height: 40px;
					display: block;
					border-radius: 50%;
					border: 1px solid #111111;
					color: #111111;
					i {
						font-size: 20px;
						line-height: 40px;
					}

					&:hover {
						color: $color-white;
						background: #111111;
					}
					margin-bottom: 8px;
				}

				& + span {
					margin-top: 30px;
				}
			}

			@media only screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	&.section--related {
		.content-wrapper .header h3 {
			font-size: 40px;
			line-height: 1.2;
			text-align: center;

			span {
				font-size: 16px;
			}

			@media only screen and (max-width: 768px) {
				font-size: 8.5vw;

				span {
					font-size: 3.73vw;
				}
			}
		}
	}
}

.wp-pagenavi {
	margin-top: 48px;
	@include display-flex;
	@include justify-content-center;
	list-style: none;

	> * {
		position: relative;
		display: block;
		width: 3em;
		font-family: "Montserrat";
		text-align: center;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;
	}

	span:after {
		content: "";
		position: absolute;
		display: none;
		height: 3em;
		width: 3em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $color-red;
		border-radius: 1.5em;
		z-index: -1;
	}

	a:after {
		content: "";
		position: absolute;
		height: 3em;
		width: 3em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
		border: 2px solid $color-red;
		z-index: -1;
		opacity: 1;
        -webkit-transition: transform .6s cubic-bezier(.6,-.01,.1,1), opacity .6s cubic-bezier(.6,-.01,.1,1) .2s;
		     -o-transition: transform .6s cubic-bezier(.6,-.01,.1,1), opacity .6s cubic-bezier(.6,-.01,.1,1) .2s;
			    transition: transform .6s cubic-bezier(.6,-.01,.1,1), opacity .6s cubic-bezier(.6,-.01,.1,1) .2s;
	}

	> a:hover {
		color: $color-red;

		&:after {
			transform: translate(-50%, -50%) scale(1);
			opacity: 0;
		}
	}

	.current {
		cursor: default;
		color: #FFFFFF;

		&:after {
			display: block;
		}
	}

	li.flat {
		width: unset;
		font-size: 12px;

		&:hover {
			opacity: 0.6;
		}
	}
}
@media only screen and (max-width: 768px) {
	.wp-pagenavi {
		margin-top: 8vw;
		@include justify-content-space-between;

		> * {
			font-size: 3.73vw;
		}

		li.flat {
			font-size: 3.73vw;
		}
	}
}

.mw_wp_form {
	.form-title {
		font: bold 20px/1.5 "YuGothic", "Yu Gothic Medium";
		color: #111111;
		padding-bottom: 12px;
		border-bottom: 2px solid #555555;

		@media only screen and (max-width: 768px) {
			font-size: 5.33vw;
		}
	}

	dl.input {
		margin-top: 36px;
		@media only screen and (max-width: 768px) {
			margin-top: 9.6vw;
		}

		dt {
			font: 16px/1.8;
			color: #111111;
			@media only screen and (max-width: 768px) {
				font-size: 4.2vw;
			}

			.req {
				color: $color-red;
				margin-left: 0.5em;
			}
		}

		dd {
			input, select, textarea {
				margin-top: 8px;
				width: 100%;
				margin-bottom: 40px;
				border: none;
				background-color: #F2F2F2;
				padding: 1.4em;
				font-size: 14px;
				line-height: 27px;
				color: #111111;
				border-radius: 0.4em;
				@media only screen and (max-width: 768px) {
					margin-top: 0.5em;
					margin-bottom: 9vw;
					font-size: 3.73vw;
				}
			}

			select {
				-moz-appearance:none;
				-webkit-appearance:none;
				appearance:none;
				position: relative;
				background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
				background-repeat: no-repeat;
                background-position: right 1em center;
                background-size: 2em;
			}
		}
	}

	.note {
		font-size: 12px;
		margin-top: -2.5em;
		margin-bottom: 6em;
		color: #BBBBBB;
		@media only screen and (max-width: 768px) {
			font-size: 3.2vw;
		}
	}

	.agree {
		text-align: center;
		font-size: 16px;
		line-height: 1.8;
		margin-bottom: 2.5em;

		@media only screen and (max-width: 768px) {
			font-size: 4.2vw;
		}
	}

	.submit {
		@include display-flex;
		@include justify-content-center;

		button[type="submit"] {
			font-size: 16px;
			line-height: 1;
			padding: 1.25em 2.5em;
			border-radius: 1.75em;
			border: 1px solid #111111;
			background: transparent;
			cursor: pointer;
			@include transition-all;

			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
			}

			&:hover {
				background: $color-red;
				color: $color-white;
				border-color: $color-red;
			}
		}
	}
}
