@charset "utf-8";

/* 共通のスタイル */
.w720 {
	@media only screen and (min-width: 769px) {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1040 {
	@media only screen and (min-width: 1041px) {
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1080 {
	@media only screen and (min-width: 1081px) {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1280 {
	@media only screen and (min-width: 1281px) {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
}

#searchform label.screen-reader-text,
#searchform input[type="submit"]#searchsubmit {
	display: none;
}

.page-wrapper {
	max-width: 100%;
	overflow: visible;
}

.page-wrapper.with-sidebar {
	@include display-flex;
	@include justify-content-center;
	@extend .w1080;

	> .main {
		@include flex(1 1 auto);
	}

	> .sidebar {
		@include flex(0 0 360px);
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 160px;
		margin-bottom: 120px;

		dl {
			background: $color-white;
			font: 14px / 22px "Noto Sans JP";
			color: #111111;
			padding-top: 40px;
			border-radius: 10px;

			dt {
				margin-bottom: 40px;
				h4 {
                	text-align: center;
                	font-size: 24px;
                	font-weight: bold;
                	
                	small {
                		font-size: 14px;
                        line-height: 1.5;
                        display: block;
                	}
                }
			}

			dd {
                padding: 0 20px 26px;

                article {
                	display: flex;
                	padding-bottom: 15px;
                	padding-top: 15px;
                	border-bottom: 1px solid #BBBBBB;
                	@include transition-all;
                	&:first-of-type {
                    	padding-top: unset;
                    }
                    &:last-of-type {
                    	border-bottom: unset;
                    	padding-bottom: unset;
                    }

                	.thumb {
                        width: 80px;
                        height: 80px;
                        margin-right: 20px;
                        border-radius: 5px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 180%;
                        @include transition-all;
                	}

                	summary {
                        width: 180px;
                        font-weight: 500;
                        display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
                	}

                	&:hover {
                		.thumb {
                			opacity: 0.7;
                		}
                		summary a {
                			text-decoration: underline !important;
                		}
                	}
                }

				.big {
					font-size: 16px;
					line-height: 1.8;
				}

                .btn-panel {
                	text-align: center;
                	margin-top: 60px;
                	margin-bottom: 15px;
					.btn {
						width: 220px;
						margin-left: auto;
						margin-right: auto;
						font-size: 16px;
						color: inherit;
						background: transparent;
						border-color: inherit;

						&:hover {
							color: $color-white;
							background: $color-red;
							border-color: $color-red;
						}
					}
                }
			}

			&.dark-back {
				color: $color-white;
				background: #333333;

				h4 span {
					font-size: 20px;
					padding-left: 48px;
					position: relative;

					background: left center url(../img/envelope.png) no-repeat;
					background-size: contain;
				}

				.btn-panel .btn:hover {
					color: #111111;
					background: $color-white;
					border-color: $color-white;
				}
			}

			+ dl {
				margin-top: 40px;
			}
		}

		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
}

.background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dark-back {
	background: #333333;
}

.btn {
	display: inline-block;
	width: 200px;
	max-width: 100%;
	line-height: 3.5;
	background-color: $color-red;
	color: #fff;
	position: relative;
	text-align: center;
	@include transition-all;
	cursor: pointer;
	border-radius: 1.75em;
	border: 1px solid $color-red;

	&:hover {
		text-decoration: none !important;
		background: transparent;
		border: 1px solid #111111;
		color: #111111;
	}
}

.category.category--how-to {
	color: #25F4EE;
}

.category.category--case-study {
	color: #FE2C55;
}

.category.category--interview {
	color: #7D88E3;
}

.category.category--topics {
	color: #007CD8;
}

.slick-list {
// 	overflow-x: visible;
// 	overflow-y: visible;
}

.slick-prev, .slick-next {
	left: -12px;
	@media only screen and (min-width: 769px) and (max-width: 1080px) {
		left: 8px;
	}
	z-index: 2;
	font-weight: bold;

	&:before {
		color: $color-gray1;
		font-size: 24px;
	}

	@media only screen and (max-width: 768px) {
		display: none !important;
	}
}

.slick-next {
	left: calc(31.25vw - 12px);
	@media only screen and (min-width: 1281px) {
		left: 388px;
	}
	@media only screen and (min-width: 769px) and (max-width: 1080px) {
		left: calc(31.25vw + 8px);
	}
}

.slick-dots {
	// text-align: right;
	// padding-right: 40px;
	position: absolute;
	// right: 0px;
	bottom: 2%;
	width: 31.25vw;
	max-width: 400px;
	@media only screen and (max-width: 768px) {
		bottom: -4vw;
		width: 100%;
		max-width: unset;
	}

	li {
		button::before {
			font-size: 0.8rem;
			color: $color-white;
			width: 40px;
			height: 40px;
			opacity: 1;
			@media only screen and (max-width: 768px) {
				width: 2.66vw;
				height: 2.66vw;
			}
		}

		&.slick-active {
			button::before {
				color: #111111;
			}
		}
	}
}

.page-navigator {
	margin-top: 48px;
	@include display-flex;
	@include justify-content-center;
	list-style: none;
	@media only screen and (max-width: 768px) {
		margin-top: 8vw;
		@include justify-content-space-between;
	}

	&.button-3 {
		@include justify-content-space-between;
	}

	li {
		position: relative;
		display: block;
		width: 3em;
		font-family: "Montserrat";
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
		@media only screen and (max-width: 768px) {
			font-size: 3.73vw;
		}

		&:not(.flat):after {
			content: "";
			position: absolute;
			display: none;
			height: 3em;
			width: 3em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $color-red;
			border-radius: 1.5em;
			z-index: -1;
		}

		&:not(.flat):not(.disabled) {
			&:hover {
				color: $color-white;

				&:after {
					display: block;
				}
			}
		}

		&.disabled {
			cursor: default;
		}

		&.selected {
			color: $color-white;
			font-weight: bold;

			&:after {
				display: block;
			}
		}

		&.flat {
			width: unset;
			font-size: $font-size-xs;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
			}

			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}

.keyword-panel {
    line-height: 50px;
    @media (max-width: 768px) {
    	line-height: 15vw;
    }
}

.keyword {
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	padding-left: 1.8em;
	padding-right: 0.8em;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	border-radius: 1.7em;
	border: 1px solid #111111;
	margin: 5px 5px;
	position: relative;
	color: #111111;
	cursor: pointer;

	@media (max-width: 768px) {
		font-size: 3.2vw;
	}

	&::before {
		content: "#";
		line-height: 1;
		position: absolute;
		left: 0.8em;
		top: 50%;
		transform: translateY(-50%);
		font-weight: bold;
	}

	&:hover {
		color: $color-white;
		background-color: #111111;
	}
}

section {
	@extend .w1080;
}

.section--topmargin {
	border-top: $top-banner-height solid transparent;
	padding-top: $top-banner-first-section-margin;
	@media only screen and (max-width: 768px) {
		border-top: $top-banner-height-sp solid transparent;
		padding-top: $top-banner-first-section-margin-sp;
	}
}

section.hero {
	overflow: visible;
	@media only screen and (max-width: 768px) {
		padding-top: unset;
	}
}

.hero-item {
    height: 440px;
    @media only screen and (min-width: 769px) and (max-width: 1080px) {
    	height: 40.6vw;
    	margin-left: 20px;
    	margin-right: 20px;
    }
    @media only screen and (max-width: 768px) {
    	height: 56.26vw;
        width: 100%;
		background-size: cover;
		margin-bottom: 21.33vw;
	}

    position: relative;
	border-radius: 10px;
	overflow: visible;
    @extend .background-cover;

	.hero-title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 31.25vw;
		max-width: 400px;
		height: 23.4375vw;
		max-height: 300px;
		padding: 30px;
		color: $color-gray1;
		background: $color-white;
		overflow: hidden;
		border-radius: 10px;
	
		@media only screen and (max-width: 768px) {
			left: 50%;
			transform: translateX(-50%);
			top: unset;
			bottom: -20vw;
			padding: 5.33vw;
			width: 88vw;
			max-width: unset;
			height: 45vw;
			max-height: unset;
		}
	
		summary {
			font-family: "Noto Sans JP";
			font-size: 20px;
			font-weight: normal;
			line-height: 1.5;
			margin-top: 1em;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxxl-sp;
				line-height: 1.5;
				margin-top: 0.7em;
			}

			a:hover {
				text-decoration: underline !important;
			}
		}

		mark {
			font-family: "Montserrat";
			font-size: 14px;
			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
			}
			font-weight: bold;
			background: unset;
		}

		time {
			font: 14px/1.3 "Montserrat";
			position: absolute;
			left: 30px;
			bottom: 30px;
			color: #555555;
			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
				left: 5.33vw;
			    bottom: 5.33vw;
			}
		}
	}
}

section {
	margin-bottom: 160px;
	@media only screen and (max-width: 768px) {
		margin-bottom: 21.33vw;
	}
}

.section {
	padding-left: 20px;
	padding-right: 20px;
    @media (max-width: 768px) {
    	padding-left: 6.4vw;
	    padding-right: 6.4vw;
    }

	.content-wrapper {
		.header {
			margin-bottom: 60px;
			@media only screen and (max-width: 768px) {
				margin-bottom: 8vw;
			}

			h3 {
				font: bold 80px/1.2 "Montserrat";
				span {
                    display: block;
                    font: bold 24px/1.3 "Noto Sans JP";
				}

				@media (max-width: 768px) {
					font-size: 10vw;
					span {
						font-size: 3.73vw;
						margin-top: 1em;
					}
				}
			}
		}

		.body {
			.decription {
				p {
					text-align: left;
					font: 16px/1.8 "Noto Sans JP";
					font-weight: 500;
	
					@media only screen and (max-width: 768px) {
						font-size: 4.2vw;
					}
	
					&:last-of-type {
						margin-bottom: 75px;
						@media only screen and (max-width: 768px) {
							margin-bottom: 21.33vw;
						}
					}
	
					&.separator {
						overflow: hidden;
					}
				}
			}
            .explanation {
            	text-align: left;
            	font: 16px/1.8 "Noto Sans JP";
            	font-weight: 500;

            	@media only screen and (max-width: 768px) {
            		font-size: 4.2vw;
            	}

            	&:last-of-type {
            		margin-bottom: 75px;
            		@media only screen and (max-width: 768px) {
						margin-bottom: 21.33vw;
					}
            	}

            	&.separator {
            		overflow: hidden;
            	}
            }

			ul {
				list-style: none;
				margin-left: -20px;
				margin-right: -20px;
				@media (max-width: 768px) {
					margin-left: -6.4vw;
				    margin-right: -6.4vw;
				}
				font-size: 0;

                .item {
                	width: 33.33%;
                	display: inline-block;
                	height: 480px;
                	margin-bottom: 40px;
                	@media (max-width: 768px) {
						height: 120vw;
						margin-bottom: 6.4vw;
					}
                	position: relative;
                	vertical-align: top;

                	@media (max-width: 768px) {
                		width: 100%;
                		margin-bottom: 6.4vw;
                	}

                	dl {
                		margin-left: 20px;
                		margin-right: 20px;
                		@media (max-width: 768px) {
                			margin-left: 6.4vw;
                		    margin-right: 6.4vw;
                		}
                		background: $color-white;
                		height: 100%;
                		border-radius: 10px;

                		dt {
                			> a:hover {
                				text-decoration: underline !important;

                				img {
                					@include transition-all;
                					opacity: 0.7;
                				}
                			}
                			@media (max-width: 768px) {
                				img {
								    width: 100%;
                				}
							}

                			p {
                                font-size: 16px;
                                line-height: 1.5;
                                margin-bottom: 1em;
                                padding: 40px 20px 0;
                                font-weight: 700;

                                @media (max-width: 768px) {
                                	font-size: 4.2vw;
                                	padding: 5vw 5vw 0;
                                }
                			}

                			div {
                				margin-left: -5px;
                				margin-right: -5px;
                				line-height: 40px;
                				padding: 0 20px;
                				@media (max-width: 768px) {
									line-height: 12vw;
									padding: 0 5vw;
								}
                			}
                		}

                		.datetime {
                			position: absolute;
                			left: 40px;
                			bottom: 20px;
                			@media (max-width: 768px) {
								left: 11.4vw;
								bottom: 5vw;
							}
                			span {
                                font: 14px/1.3 "Montserrat";
                                font-weight: 600;
                                color: #555555;

                                @media (max-width: 768px) {
									font-size: 3.73vw;
								}
                			}
                		}

                		&:hover {
                			box-shadow: 0 5px 10px rgba(0,0,0,0.16);
                		}
                	}
                }
			}

			> p {
				font: bold 16px / 1.2 "Montserrat";
				text-align: right;
				@media only screen and (max-width: 768px) {
					margin-top: 4vw;
				}

				a {
					&:not(.btn):hover {
                        text-decoration: underline !important;
					}

					i {
						margin-left: 1em;
					}
				}

				@media (max-width: 768px) {
					font-size: 4.2vw;
				}
			}
		}
	}

	&.section--category-how-to {
		h3 {
			color: #25F4EE;
		}
	}

	&.section--category-case-study {
		h3 {
			color: #FE2C55;
		}
	}

	&.section--category-interview {
		h3 {
			color: #7D88E3;
		}
	}

	&.section--category-topics {
		h3 {
			color: #007CD8;
		}
	}

	&.section--event {
		h3 {
			color: #111111;
		}

		.body {
			ul .item {
				padding-left: 20px;
				padding-right: 20px;
				width: 50%;
				position: relative;
				height: 280px;

				@media (max-width: 768px) {
					height: 56vw;
					width: 100%;
					padding-left: 6.4vw;
					padding-right: 6.4vw;
				}
			}

			.datetime {
                font: bold 24px/1.2 "Montserrat";
                color: $color-red;
                margin-bottom: 0.8em;
			}

			.text {
                font: bold 20px/1.75 "Noto Sans JP";
                color: #111111;
			}

			.view-detail {
				text-align: right;
				font: bold 16px/1.2 "Montserrat";
				color: #111111;
				position: absolute;
				right: 20px;
				bottom: 20px;

				a {
					&:hover {
                        text-decoration: underline !important;
					}

					i {
						margin-left: 1em;
					}
				}
			}

			@media (max-width: 768px) {
				.datetime {
					font-size: 4.2vw;
				}

				.text {
					font-size: 4.2vw;
					line-height: 1.5;
				}

				.view-detail {
					font-size: 4.2vw;
				}
			}
		}
	}

	&.section--ranking {
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: calc((100% - 100vw) / 2);
			right: calc((100% - 100vw) / 2);
			top: 0;
			height: 100%;
			background: white;
			z-index: -1;
		}

		> ul {
			list-style: none;
			margin-left: -20px;
			margin-right: -20px;
			@media (max-width: 768px) {
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			font-size: 0;

			.ranking-panel, .tag-panel {
				width: 66.66%;
				display: inline-block;
				vertical-align: top;
				padding-left: 20px;
				padding-right: 20px;
				@media (max-width: 768px) {
					padding-left: 6.4vw;
					padding-right: 6.4vw;
				}

				.header {
					text-align: left;
					@media (max-width: 768px) {
						text-align: center;
					}
					h3 {
						font-size: 40px;
						line-height: 1.2;
	
						span {
							font-size: 16px;
							line-height: 1.3;
							margin-top: 1em;
						}
	
						@media (max-width: 768px) {
							font-size: 8vw;
							span {
								font-size: 3.73vw;
								margin-top: 0.1em;
							}
						}
					}
				}
			}

			.ranking-panel {
				ul {
					counter-reset: LIST-ITEMS 0;
					margin-left: unset;
					margin-right: unset;

					.item {
						width: 100%;
						height: auto;
						margin-bottom: unset;

						+ .item {
							margin-top: 60px;
						}

						a {
							position: relative;
							height: auto;
							@include display-flex;

							&:before {
								content: counter( LIST-ITEMS );
								counter-increment: LIST-ITEMS;
								position: absolute;
								font-size: 12px;
								line-height: 2;
								color: white;
								background: #111111;
								height: 2em;
								width: 2em;
								display: block;
								border-radius: 50%;
								border: 1px solid $color-white;
								text-align: center;
								transform: translate(-50%, -50%);
								z-index: 1;

								@media only screen and (max-width: 768px) {
									font-size: 2.66vw;
								}
							}

							img {
								height: 90px;
								margin-right: 20px;
								border-radius: 5px;
								display: inline-block;
								@media (max-width: 768px) {
									height: 20vw;
								}
							}

							p {
								display: inline-block;
								.category {
									font: bold 14px / 1.3 "Montserrat";
									display: block;
									margin-bottom: 1em;
									@media (max-width: 768px) {
										font-size: 3.73vw;
										line-height: 1.2;
									}
								}


								font: bold 16px/ 1.5 "Noto Sans JP";
								@media (max-width: 768px) {
									font-size: 3.73vw;
									line-height: 1.5;
								}
							}

							&:hover {
								img {
									opacity: 0.7;
								}

								p {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}

			.tag-panel {
				width: 33.33%;

				.body {
					line-height: 40px;
					@media(max-width: 768px) {
						line-height: 11vw;
					}
				}

				.view-all {
					font: bold 16px/1.2 "Montserrat";
					text-align: right;
					margin-top: 2.5em;
					@media (max-width: 768px) {
						display: none;
					}

					a {
						cursor: pointer;

						&:hover {
							text-decoration: underline !important;
						}

						i {
							margin-left: 1em;
						}
					}
				}
			}

			@media (max-width: 768px) {
				.ranking-panel, .tag-panel {
					width: auto;
					padding-left: unset;
					padding-right: unset;
					margin-left: 6.4vw;
					margin-right: 6.4vw;
				}

				.ranking-panel {
					padding-bottom: 21.33vw;
				}

				.tag-panel {
					padding-top: 21.33vw;
					border-top: 1px solid #BBBBBB;
				}
			}
		}
	}

	&.section--document {
		.content-wrapper {
			.header {
				text-align: center;
				h3 {
				    font-size: 40px;
				    line-height: 1.2;

				    span {
				    	font-size: 16px;
				    	line-height: 1.3;
				    	margin-top: 1em;
				    }

				    @media (max-width: 768px) {
				    	font-size: 8vw;
				    	span {
				    		font-size: 3.73vw;
				    		margin-top: 0.1em;
				    	}
				    }
				}
			}

			.body {
				.item {
					width: 25%;
					padding: 20px;
					height: 400px;

					img {
						width: 100%;
					}

					p {
						font: bold 16px/1.5 "Noto Sans JP";
						margin-top: 1.25em;
					}

					@media (max-width: 768px) {
				    	width: 50%;
				    	padding: 5.33vw;
				    	height: 75vw;
				    	p {
				    		font-size: 3.73vw;
				    		line-height: 1.5;
				    	}
				    }
				}

				> p {
					text-align: center;
					margin-top: 80px;
					a {
						font: bold 16px/3.5 "Noto Sans JP";
						@media(max-width: 768px) {
							font-size: 3.73vw;
							width: 12em;
						}
					}
				}
			}
		}
	}

	&.section--article {
		position: relative;
		.summary {
			background: $color-white;
			padding: 40px 40px 0;
			position: relative;
			.top {
				@include display-flex;
				@include justify-content-space-between;
				@include align-items-center;
				margin-bottom: 20px;

				.category {
                    font: bold 20px / 1.2 "Montserrat";
				}
				.refresh {
                    font: 14px / 1.3 "Montserrat";
                    font-weight: 700;
                    color :#555555;    

                    i {
                    	transform: rotate(30deg);
                    	margin-right: 0.6em;
                    	cursor: pointer;

                    	&:hover {
                    		color : $color-blue2;
                    	}
                    }
				}
			}

			h1 {
				font: bold 28px / 1.5 "Noto Sans JP";
				margin-bottom: 0.5em;
			}

			.keyword-panel {
				padding-bottom: 60px;
			}

			@media only screen and (max-width: 768px) {
				padding: unset;
				background: transparent;

				.top {
					margin-bottom: 5.33vw;

					.category {
						font-size: 4.2vw;
					}

					.refresh {
						font-size: 3.73vw;
					}
				}

				h1 {
					font-size: 5.33vw;
					margin-bottom: 10vw;
				}

				.keyword-panel {
					line-height: 12vw;
					padding-bottom: 10vw;
				}
			}
		}

		.the-content {
			padding: 40px;
			@media only screen and (max-width: 768px) {
				padding: 6.4vw;
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			font: 12px / 1.6 "Noto Sans JP";
			color: #111111;
			background: $color-white;

			h2 {
				font: bold 20px / 1.5 "Noto Sans JP";
				padding-bottom: 0.6em;
				margin-top: 2em;
				margin-bottom: 2em;
				border-bottom: 2px solid #555555;
			}

			h3 {
				font: bold 18px / 1.5 "Noto Sans JP";
				padding: 1em;
				background: #F2F2F2;
				margin-bottom: 2em;
			}

			h4 {
				font: bold 18px / 1.7 "Noto Sans JP";
				color: #111111;
				margin-bottom: 2em;
			}

			p {
				font-size: 16px;
				line-height: 1.8;
				margin-bottom: 40px;
			}

			ul {
				padding-left: 2em;
				li {
					font-size: 16px;
					line-height: 1.8;

					&::marker {
						color: #25F4EE;
					}
				}
			}

			ol {
				padding-left: 2em;
				li {
					font-size: 16px;
					line-height: 1.8;

					&::marker {
						color: #7D88E3;
					}
				}
			}

			blockquote {
				font-size: 14px;
				line-height: 1.8;
				padding: 40px;
				border-radius: 10px;
				position: relative;
				background: #F2F2F2;
				margin-top: 40px;
				
				&:before {
					content: "\275D";
					font-size: 100px;
					line-height: 1;
					display: block;
					position: absolute;
					left: 20px;
					top: 0;
					transform: translateY(-25%);
					color: #007CD8;
				}
			}

			img {
				width: 100%;
				margin-bottom: 50px;
			}

			table {
				th, td {
					font: 14px/1.8 Noto Sans JP;
					border: 1px solid #BBBBBB;
					padding-top: 1.2em;
					padding-bottom: 1.2em;
					text-align: center;
				}

				th {
					font-weight: bold;
					background: #F2F2F2;
				}
			}

			a {
				color: #FE2C55;
				text-decoration: underline !important;

				&:hover {
					color: #111111;
					text-decoration: none !important;
				}
			}

			@media only screen and (max-width: 768px) {
				h2 {
					border-width: 4px;
					font-size: 5.33vw;
				}

				h3, h4 {
					font-size: 4.8vw;
				}

				p {
					font-size: 4.2vw;
				}

				ul li, ol li {
					font-size: 4.2vw;
				}

				blockquote {
					font-size: 3.73vw;
					padding: 3em 1.5em;
					margin-top: 1em;

					&:before {
						font-size: 6em;
						line-height: 1;
						display: block;
						position: absolute;
						left: 5.33vw;
						top: 0;
						transform: translateY(-25%);
						color: #007CD8;
					}
				}

				table {
					overflow: scroll;
					th, td {
						font-size: 3.73vw;
					}
				}
			}
		}

		.share-on-sns {
			padding-bottom: 10vw;
			position: relative;
			background: $color-white;
			padding-left: 6.4vw;
			padding-right: 6.4vw;
			margin-left: -6.4vw;
			margin-right: -6.4vw;
			dt {
				font: bold 5.33vw / 1.26 "Montserrat";
				text-align: center;
				margin-bottom: 1em;
			}
			dd {
				@include display-flex;
				@include justify-content-center;

				a {
					font-size: 4.2vw;
					line-height: 2.5;
					border: 1px solid #111111;
					border-radius: 50%;
					width: 10.66vw;
					height: 10.66vw;
					display: block;
					@include display-flex;
					@include justify-content-center;
					@include align-items-center;

					& + a {
						margin-left: 5.33vw;
					}

					&:hover {
						color: $color-white;
						background: #111111;
					}
				}
			}

			@media only screen and (min-width: 769px) {
				display: none;
			}
		}
		.about-author {
			background: $color-white;
			padding: 40px 40px 100px;
			@media only screen and (max-width: 768px) {
				padding: 10vw 6.4vw 26vw;
				margin-left: -6.4vw;
				margin-right: -6.4vw;
			}
			dt {
                font: bold 20px / 1.5 "Noto Sans JP";
                margin-bottom: 1.6em;
                @media only screen and (max-width: 768px) {
					font-size: 5.33vw;
				}
			}
			dd {
				@include display-flex;
				font: 14px / 1.8 "Noto Sans JP";
				font-weight: 700;
				@media only screen and (max-width: 768px) {
					font-size: 3.73vw;
				}
				
				.avatar {
					@include flex(0 0 120px);
					width: 120px;
                    height: 120px;
                    @include display-flex;
                    @include justify-content-center;
                    @include align-items-center;
                    background: #F2F2F2;
                    border-radius: 50%;
                    margin-right: 40px;
                    overflow: hidden;
				}

				.intro {
					display: inline-block;
					b {
                        display: block;
                        font-size: 16px;
                        line-height: 1.6;
                        font-weight: bold;
					}
				}

				@media only screen and (max-width: 768px) {
					@include align-items-center;
					@include flex-wrap-wrap;

					.avatar {
						@include flex(0 0 20vw);
						width: 20vw;
						height: 20vw;
						margin-bottom: 5.33vw;
						margin-right: 5.33vw;
					}

					.intro {
						b {
                            font-size: 4.2vw;
						}
					}
				}
			}
		}

		.float-sns-btn {
			width: 40px;
			position: fixed;
			top: 160px;
			left: calc(50vw - 590px);
			z-index: 5;
            @media only screen and (max-width: 1200px) {
            	top: 160px;
            	left: 10px;

            	span {
            		opacity: 0.5;

            		&:hover {
            			opacity: 1;
            		}
            	}
            }

			span {
				width: 40px;
				text-align: center;
				font: 12px / 15px Montserrat;
				font-weight: 700;
				display: block;
				overflow: visible;

				a {
					width: 40px;
					height: 40px;
					display: block;
					border-radius: 50%;
					border: 1px solid #111111;
					color: #111111;
					i {
						font-size: 20px;
						line-height: 40px;
					}

					&:hover {
						color: $color-white;
						background: #111111;
					}
					margin-bottom: 8px;
				}

				& + span {
					margin-top: 30px;
				}
			}

			@media only screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	&.section--related {
		.content-wrapper .header h3 {
			font-size: 40px;
			line-height: 1.2;
			text-align: center;

			span {
				font-size: 16px;
			}

			@media only screen and (max-width: 768px) {
				font-size: 8.5vw;

				span {
					font-size: 3.73vw;
				}
			}
		}
	}
}

.wp-pagenavi {
	margin-top: 48px;
	@include display-flex;
	@include justify-content-center;
	list-style: none;

	> * {
		position: relative;
		display: block;
		width: 3em;
		font-family: "Montserrat";
		text-align: center;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;

		&:after {
			content: "";
			position: absolute;
			display: none;
			height: 3em;
			width: 3em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $color-red;
			border-radius: 1.5em;
			z-index: -1;
		}
	}

	> *:hover {
		color: #FFFFFF;

		&:after {
			display: block;
		}
	}

	.current {
		cursor: default;
		color: #FFFFFF;

		&:after {
			display: block;
		}
	}

	li.flat {
		width: unset;
		font-size: 12px;

		&:hover {
			text-decoration: underline !important;
		}
	}
}
@media only screen and (max-width: 768px) {
	.wp-pagenavi {
		margin-top: 8vw;
		@include justify-content-space-between;

		> * {
			font-size: 3.73vw;
		}

		li.flat {
			font-size: 3.73vw;
		}
	}
}
